<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px" class="text1">About Us</h1>
        <button class="btn btn-success btn1" routerLink="/">Home</button>
    </div>
</div>
<h1 style="font-size:50px" class="text1 text-center">About Us</h1>
<hr>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-10">
            <span class="fs-4 text-info">Best restaurant:</span><br>
            <p class="fw-semibold">We have the best chefs and our dish is varied from all over the world. We have Italian pizza, Chinese noodles and delicious dishes. We hope you will visit us soon</p>
            <p class="fw-semibold">Review </p>
            <p><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i></p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <img src="https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-thumbnail img1">
        </div>
    </div>
</div>